body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    background: whitesmoke;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartCard img,
.card img {
    height: 80px;
}
.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.carticon {
    background-color: pink;
    color: #fff !important;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 31px;
}
.productsWrapper {
    display: grid;
    gap: 30px; 
    grid-template-columns: repeat(4, 1fr);align-items: center;
}
@media screen and (max-width: 1200px) {
  .productsWrapper {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}@media screen and (max-width: 992px) {
  .productsWrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .productsWrapper {
    grid-template-columns:  1fr;
   
  }
}

.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}

.heading {
    padding: 25px 0;
    text-align: center;
    margin: 0;
}
.cartCount {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
}
.navLink {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 5px;
}

.error,.loader{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
  border:5px solid #686e7229;
  border-radius: 50%;
  border-top: 5px solid pink;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}